.homeTable {
    width: 100%;
}

.homeTable th {
    font-weight: bolder
}

.mat-column-name {
    width: 35%;
    text-align: justify;
    padding: 0!important
}

td.mat-cell:last-of-type {
    padding: 0!important
}

.mat-column-contacts {
    width: 15%;
    text-align: justify;
}

.mat-column-musicality {
    width: 12%;
    text-align: center;
}

.mat-column-class {
    width: 28%;
    text-align: justify;
}

.mat-column-action {
    width: 10%;
    text-align: right;
}